name: release

permissions:
  contents: write
  pull-requests: write

on:
  push:
    branches:
      - main

env:
  CI: true
  CARGO_INCREMENTAL: 0
  CARGO_PROFILE_TEST_DEBUG: 0

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Use Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: 1.84.0
          components: clippy, rustfmt
      - uses: Swatinem/rust-cache@v2
      - name: Run release-plz
        uses: release-plz/action@v0.5.90
        with:
          command: release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}

   release-pr:
    name: Release PR
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    concurrency:
      group: release-plz-${{ github.ref }}
      cancel-in-progress: false
    steps:
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Use Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: 1.84.0
          components: clippy, rustfmt
      - uses: Swatinem/rust-cache@v2
      - name: Run release-plz
        uses: release-plz/action@v0.5
        with:
          command: release-pr
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
